.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .header a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .header a:hover {
    text-decoration: underline;
  }
  