:root {
  --color-a: #2F4F4F;
  --color-secondary: #F4A460;
  --color-primary: hsl(160, 0%, 28%);  
}

body {
  background-color: var(--color-primary);
  font-family: Arial, sans-serif;
}

.container {
  width: 300px;
  height: 250px;
  background-color: var(--color-primary);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid var(--color-secondary);
  padding: 19px;
  box-shadow: 1px 1px 2px black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding-top: 20px;
  text-align: center;
  font-size: 36px;
  color: var(--color-secondary);
  margin-bottom: 30px;
}

label {
  color: var(--color-secondary);
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  background: var(--color-primary);
  /* width: 100%; */
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  margin-bottom: 20px;
}

button[type="submit"] {
  color: var(--color-primary);
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #F5DEB3
}

textarea:focus, input:focus{
  outline: none;
}